{% extends 'global/base.html' %}

{% block title %}Home |{% endblock title %}

{% block content %}

<section class="hero">
    <div class="hero-inner" id="section-0">
        <figure></figure>
            <h2 class="hero__title">Explore our world</h2>        
    </div>
</section>
<section class="hero">
    <div class="hero-inner" id="section-0">
        <figure></figure>
            <h2 class="hero__title">Vehicles</h2>        
    </div>
</section>
<section class="hero">
    <div class="hero-inner" id="section-0">
        <figure></figure>
            <h2 class="hero__title">Location</h2>        
    </div>
</section>
<section class="content">
    <article class="content__inner">
        <h1 class="content__title">Who we are?</h1>
        <h3 class="content__author">By André Fonseca</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Sapiente culpa eveniet facere nesciunt molestias.</p>
        <p>Sit ut totam aperiam saepe repellendus molestias quibusdam mollitia commodi dolor, nisi magni debitis eligendi ullam.</p>
        <blockquote>Sapiente culpa eveniet facere nesciunt molestias?</blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Sapiente culpa eveniet facere nesciunt molestias.</p>
        <p>Sit ut totam aperiam saepe repellendus molestias quibusdam mollitia commodi dolor, nisi magni debitis eligendi ullam.</p>
        <blockquote>Sapiente culpa eveniet facere nesciunt molestias?</blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Sapiente culpa eveniet facere nesciunt molestias.</p>
    </article>
</section>

{% endblock content %}