<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="/">
                <span class="main-logo-text">Vehicles</span>
            </a>
        </h1>        
    </div>
    <nav class="nav">
        <button
        class="btn-menu" 
        aria-label="Open Menu" 
        aria-haspopup="true" 
        aria-controls="menu" 
        aria-expanded="false"
        >
            <span class="hamburger"></span>
        </button>
        <ul class="menu" id="menu" role="menu">
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="/vehicles/">Veículos</a></li>
            <li><a class="link" href="/">Sobre</a></li>
            <li><a class="link" href="/">Contato</a></li>
        </ul>
    </nav>
</header>